@charset "UTF-8";
/*
    제목 : title 클래스
    오렌지색 글자색 : answer-done 클래스
    font-weight : bold -> answer-no 클래스
*/
* {
    margin: 0;
}
hr {
    width: 750px;
    margin: 0 auto;
}
a {
    margin: 0 auto;
    text-decoration:none;
    color: black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title {
    margin: 0 auto 5px auto;
    font-weight: bold;
}
.answer-done {
    font-weight: bold;
    color: orange;
    margin: 0 20px;
}
.answer-no {
    font-weight: bold;
    margin: 0 20px;
}
.check {
    margin: 0 20px 0 28px;
}
table.board {
    width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    border:none;
}
table.board th,
table.board td {
    border:none;
    padding: 10px;
    vertical-align: middle; 
    text-align: center;
}
table.board td a {
    text-align: left;
    padding: 0 5px;
}
table.board th:first-child,
table.board td:first-child {
    text-align: center;
}
table.board th:nth-child(2),
table.board td:nth-child(2) {
    width: 68px;
}
table.board th:nth-child(3),
table.board td:nth-child(3) {
    width: 78px;
}
table.board th:nth-child(4),
table.board td:nth-child(4) {
    width: 150px;
}
table.board th:nth-child(5),
table.board td:nth-child(5) {
    width: 90px;
}
table.board th:nth-child(6),
table.board td:nth-child(6) {
    width: 100px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table.board th:nth-child(7),
table.board td:nth-child(7) {
    white-space: nowrap;
    width: 100px;
}
table.board td.form-check {
    width: 50px;
    padding: 0;
    margin: 0;
    display: table-cell;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}
table.board td.form-check input.form-check-input {
    margin: 0;
    transform:translateY(0);
}
table.board thead th {
    border-bottom: 1px solid #ddd;
}

table.board tbody tr td {
    border-bottom: 1px solid #ddd;
}

table.board thead th:first-child {
    width:30px;
    padding:0;
    align-items:center;
    justify-content:center;
    border-bottom: 1px solid #ddd;
}
table.board tbody tr td.form-check + td {
    border-bottom: 1px solid #ddd;
}
table.board td.form-check div.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
