<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis mapper파일 -->
	<!-- namespace, id, resultType 3가지가 중요 -->

<mapper namespace="reviewMapper">
<!-- namespace는 매퍼를 식별하기 위한 고유한 값 -->
	<resultMap id="accoReviewMap" type="review">
		<id property="reviewNo" column="review_no" />
		<result property="star" column="star" />
		<result property="content" column="content" />
		<result property="wdate" column="wdate" />
		<result property="reply" column="reply" />
			<!-- 1:1 테이블 관계 매핑 -->
			<association property="author" javaType="com.rent.vaca.user.UserVO">
				<id property="id" column="id" />
				<result property="name" column="name" />
				<result property="nickname" column="nickname" />
				<result property="pw" column="pw" />
				<result property="wdate" column="wdate" />
				<result property="email" column="email" />
				<result property="phone" column="phone" />
				<result property="grade" column="grade" />
				<result property="social" column="social" />
				<result property="delyn" column="delyn" />
				<result property="banyn" column="banyn" />
				<result property="banReason" column="ban_reason" />
			</association>
			
			<!-- 1:n 테이블 관계 매핑 -->
			<collection property="photos" ofType="com.rent.vaca.review.ReviewPhotoVO">
				<id property="photoNo" column="photo_no" />
				<result property="reviewNo" column="review_no" />
				<result property="savedName" column="saved_name" />
				<result property="originalName" column="original_name" />
				<result property="photoType" column="photo_type" />
			</collection>
	</resultMap>

	<!-- 리뷰목록 조회 -->
	<select id="selectReviewsByAccoNo" parameterType="acco" resultMap="accoReviewMap">
		select reviewtb.*, usertb.nickname, review_phototb.* 
		from accotb a 
			inner join roomtb r 	
				on a.acco_no=r.acco_no  
			inner join reservtb 
				on r.room_no=reservtb.room_no and reservtb.cancelyn='N' 
			inner join reviewtb 
				on reservtb.reserv_code=reviewtb.reserv_code 
			left join review_phototb
				on reviewtb.review_no = review_phototb.review_no 
			inner join usertb 
				on reviewtb.user_id=usertb.id 
		where a.acco_no=#{accoNo}
			order by ${orderQuery};
	</select>
	
		<!-- 리뷰개수 조회 -->
	<select id="countReview" parameterType="int" resultType="int">
		select count(*) 
			from accotb 
			inner join roomtb 
				on accotb.acco_no=roomtb.acco_no 
			inner join reservtb 
				on roomtb.room_no=reservtb.room_no 
			inner join reviewtb 
				on reservtb.reserv_code=reviewtb.reserv_code
		where accotb.acco_no=#{accoNo};
	</select>
	
	<!-- 별점평균 조회 -->
	<select id="starAvg" parameterType="int" resultType="Double">
		select avg(star) 
			from accotb 
			inner join roomtb 
				on accotb.acco_no=roomtb.acco_no 
			inner join reservtb 
				on roomtb.room_no=reservtb.room_no 
			inner join reviewtb
				on reservtb.reserv_code=reviewtb.reserv_code
		where accotb.acco_no=#{accoNo};
	</select>
</mapper>