<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis mapper파일 -->
	<!-- namespace, id, resultType 3가지가 중요 -->

<mapper namespace="interestMapper">
<!-- namespace는 매퍼를 식별하기 위한 고유한 값 -->

	<!-- 관심숙소 등록 -->
	<insert id="insertInterestOne" parameterType="com.rent.vaca.user.InterestVO">
		insert into interesttb(user_id, acco_no) values(#{userId}, #{accoNo});
	</insert>
	
	<!-- 관심숙소 삭제 -->
	<delete id="deleteInterestOne" parameterType="com.rent.vaca.user.InterestVO">
		delete from interesttb where user_id=#{userId} and acco_no=#{accoNo};
	</delete>

	<!-- 관심숙소 조회 -->
	<select id="selectInterestOne" parameterType="com.rent.vaca.user.InterestVO" resultType="int">
		select count(*) from interesttb where user_id=#{userId} and acco_no=#{accoNo};
	</select>
	
	<select id="selectInterestList" resultType="com.rent.vaca.user.InterestAccoVO">
		select
			i.interest_no as interestNo,
			i.user_id as userId,
			a.acco_no as accoNo,
			a.name,
			a.addr,
			min(p.original_name) as imageUrl
		from interesttb i join accotb a on i.acco_no = a.acco_no
		left join acco_phototb p on a.acco_no = p.acco_no
		where i.user_id = #{userId}
		group by i.interest_no, i.user_id, a.acco_no, a.name, a.addr
	</select>
	

</mapper>