<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis mapper파일 -->
	<!-- namespace, id, resultType 3가지가 중요 -->

<mapper namespace="reservMapper">
<!-- namespace는 매퍼를 식별하기 위한 고유한 값 -->
	<resultMap id="reservReviewMap" type="com.rent.vaca.reserv.ReservVO">
		<id property="reservCode" column="reserv_code" />
		<result property="userId" column="user_id" />
		<result property="roomNo" column="room_no" />
		<result property="name" column="name" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="checkin" column="checkin" />
		<result property="checkout" column="checkout" />
		<result property="reservDate" column="reserv_date" />
		<result property="cancelyn" column="cancelyn" />
		<result property="payment" column="payment" />
		<result property="adultNo" column="adult_no" />
		<result property="childNo" column="child_no" />

		<!-- 1:1 테이블 관계 매핑 -->
		<association property="review" javaType="com.rent.vaca.review.ReviewVO">
			<id property="reviewNo" column="review_no" />
			<result property="star" column="star" />
			<result property="content" column="content" />
			<result property="wdate" column="wdate" />
			<result property="reply" column="reply" />
		</association>
	</resultMap>
	
	<!-- 특정일, 특정 객실 예약여부 조회. 결과 1이면 예약불가, 0이면 예약가능-->
	<select id="checkReservation" parameterType="com.rent.vaca.reserv.ReservVO" resultType="boolean">
		select exists(
			select 1
				from reservtb 
			where room_no = #{roomNo} 
				and checkin &lt; #{checkout}
				and checkout &gt; #{checkin}
		)
	</select>
	
	<!-- 마이페이지 예약내역 : 다가오는 예약 -->
	<select id="selectReservList" parameterType="int" resultType="com.rent.vaca.reserv.ReservVO">
		select 
			reservtb.*, 
			accotb.name as acco_name, 
			(select saved_name from acco_phototb where acco_phototb.room_no=0 limit 1) as thumbnail 
		from reservtb 
		inner join roomtb
			on reservtb.room_no = roomtb.room_no
		inner join accotb
			on roomtb.acco_no = accotb.acco_no
		where reservtb.user_id = #{user}
			and reservtb.cancelyn='N'
			and reservtb.checkin >= (SELECT SUBDATE(curdate(), 1));
	</select>
	
	<!-- 마이페이지 예약내역 : 지나간 예약, 취소한 예약 -->
	<select id="deprecatedReservList" parameterType="int" resultType="com.rent.vaca.reserv.ReservVO">
		select 
			reservtb.*, 
			accotb.name as acco_name, 
			(select saved_name from acco_phototb where acco_phototb.room_no=0 limit 1) as thumbnail 
		from reservtb 
		inner join roomtb
			on reservtb.room_no = roomtb.room_no
		inner join accotb
			on roomtb.acco_no = accotb.acco_no
		where reservtb.user_id = #{user}
			and (reservtb.cancelyn='Y'
					or reservtb.checkout &lt;= now());
	</select>
	
	<insert id="saveMyReserv" parameterType="reserv" useGeneratedKeys="true" keyProperty="reservNo">
		insert into Reservtb (reserv_code, user_id, room_no, name, phone,
			email, checkin, checkout, reserv_date, cancelyn,
			payment, adult_no, child_no)
		values(#{reservCode}, #{userId}, #{roomNo}, #{name}, #{phone},
			#{email}, #{checkin}, #{checkout}, now(), 'N',
			#{payment}, #{adultNo}, #{childNo})
	</insert>
	
	<select id="existByReservCode" parameterType="string" resultType="int">
		select count(*) from reservtb where reserv_code = #{reservCode}
	</select>
	
</mapper>