<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis mapper파일 -->
	<!-- namespace, id, resultType 3가지가 중요 -->

<mapper namespace="noticeMapper">
<!-- namespace는 매퍼를 식별하기 위한 고유한 값 -->
	<resultMap id="questionAttachMap" type="notice">
		<id property="noticeNo" column="notice_no" />
		<result property="userId" column="user_id"/>
		<result property="type" column="type"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="wdate" column="wdate"/>
		<result property="delyn" column="delyn"/>
		<result property="answeryn" column="answeryn"/>
		<result property="answerContent" column="answer_content"/>
		<result property="answerDate" column="answer_date"/>
		
		<!-- 1:1 테이블 관계 매핑 -->
		<association property="user" javaType="user">
			<id property="id" column="id" />
			<result property="name" column="name" />
			<result property="nickname" column="nickname" />
			<result property="pw" column="pw" />
			<result property="wdate" column="wdate" />
			<result property="email" column="email" />
			<result property="phone" column="phone" />
			<result property="grade" column="grade" />
			<result property="social" column="social" />
			<result property="delyn" column="delyn" />
			<result property="banyn" column="banyn" />
			<result property="banReason" column="ban_reason" />
		</association>

		<!-- 1:1 테이블 관계 매핑 -->
		<association property="biz" javaType="biz">
			<id property="id" column="id" />
			<result property="email" column="email" />
			<result property="pw" column="pw" />
			<result property="phone" column="phone" />
			<result property="wdate" column="wdate" />
			<result property="approveyn" column="approveyn" />
			<result property="delyn" column="delyn" />
			<result property="name" column="name" />
			<result property="owner" column="owner" />
			<result property="banyn" column="banyn" />
			<result property="banReason" column="ban_reason" />
		</association>
		
		<!-- 1:n 테이블 관계 매핑 -->
		<collection property="questionAttachList" ofType="attach">
			<id property="fno" column="fno" />
			<result property="noticeNo" column="notice_no"/>
			<result property="savedName" column="saved_name"/>
			<result property="originalName" column="original_name"/>
		</collection>
	</resultMap>


	<!-- 공지목록 조회 -->
	<select id="selectAllNotice" resultType="notice">
		select * from noticetb where type='N' and delyn='N' order by wdate desc;
	</select>

	<!-- 공지 1건 조회 -->
	<select id="selectNoticeByNoticeNo" parameterType="int" resultType="notice">
		select * from noticetb where notice_no=#{noticeNo} and type='N' and delyn='N';
	</select>
	
	<!-- 공지사항 1건 등록 -->
	<insert id="insertNoticeOne" parameterType="notice" useGeneratedKeys="true" keyProperty="noticeNo">
		insert into noticetb(type, title, content,
			<if test="userId != null">user_id</if>
			<if test="bizId != null">biz_id</if>
		) values(#{type}, #{title}, #{content},
			<if test="userId != null">#{userId}</if>
			<if test="bizId != null">#{bizId}</if>
		);
	</insert>

	<!-- 1대1문의 1건 등록 -->
	<insert id="insertQuestionOne" parameterType="notice" useGeneratedKeys="true" keyProperty="noticeNo">
		insert into noticetb(user_id, type, title, content) values(#{userId}, #{type}, #{title}, #{content});
	</insert>
	
	<!-- 1대1문의 1건 조회 -->
	<select id="selectQuestionByNoticeNo" parameterType="int" resultMap="questionAttachMap">
		select * from noticetb n left join question_attachtb a on n.notice_no = a.notice_no where n.notice_no=#{noticeNo} and n.type='Q' and n.delyn='N';
	</select>
	
	<!-- 1대1 문의 삭제 -->
	<update id="deleteQuestionOne" parameterType="int">
		update noticetb set delyn='Y' where notice_no=#{noticeNo} and type='Q';
	</update>
	
	<!-- 관리자 1대1 문의 목록 조회 -->
	<select id="selectQuestionList" resultMap="questionAttachMap">
		select 
			noticetb.*, 
			usertb.nickname 
		from noticetb 
			left join usertb 
		on noticetb.user_id = usertb.id 
		where noticetb.type='Q';
	</select>
	
	<!-- 관리자 1대1 문의 답변 등록 -->
	<update id="updateAnswerOne" parameterType="notice">
		update noticetb set answeryn=#{answeryn}, answer_content=#{answerContent} where notice_no=#{noticeNo};
	</update>
</mapper>